 body {
     font-family: Arial, sans-serif;
     text-align: center;
 }

 #calculator {
     display: grid;
     grid-template-columns: repeat(4, 1fr);
     gap: 10px;
     max-width: 400px;
     margin: 0 auto;
     padding: 10px;
     border: 1px solid #74f800;
     border-radius: 5px;
     background-color: bisque;
     height: 500px;
     width: 500px;
 }

 #result {
     grid-column: span 4;
     text-align: right;
     padding: 10px;
     font-size: 30px;
     border: 1px solid #ccc;
     border-radius: 5px;
 }

 .btn {
     padding: 10px;
     font-size: 18px;
     border: 1px solid #c7c7c7;
     border-radius: 5px;
     cursor: pointer;
 }

 .btn:hover {
     background-color: #a8ef6d;
 }